#!/usr/bin/env nu

export def main [] {
    let base00 = "#{{base00-hex}}" # Default Background
    let base01 = "#{{base01-hex}}" # Lighter Background (Used for status bars, line number and folding marks)
    let base02 = "#{{base02-hex}}" # Selection Background
    let base03 = "#{{base03-hex}}" # Comments, Invisibles, Line Highlighting
    let base04 = "#{{base04-hex}}" # Dark Foreground (Used for status bars)
    let base05 = "#{{base05-hex}}" # Default Foreground, Caret, Delimiters, Operators
    let base06 = "#{{base06-hex}}" # Light Foreground (Not often used)
    let base07 = "#{{base07-hex}}" # Light Background (Not often used)
    let base08 = "#{{base08-hex}}" # Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
    let base09 = "#{{base09-hex}}" # Integers, Boolean, Constants, XML Attributes, Markup Link Url
    let base0a = "#{{base0A-hex}}" # Classes, Markup Bold, Search Text Background
    let base0b = "#{{base0B-hex}}" # Strings, Inherited Class, Markup Code, Diff Inserted
    let base0c = "#{{base0C-hex}}" # Support, Regular Expressions, Escape Characters, Markup Quotes
    let base0d = "#{{base0D-hex}}" # Functions, Methods, Attribute IDs, Headings
    let base0e = "#{{base0E-hex}}" # Keywords, Storage, Selector, Markup Italic, Diff Changed
    let base0f = "#{{base0F-hex}}" # Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

    let base16_theme = {
        separator: $base03
        leading_trailing_space_bg: $base04
        header: $base0b
        date: $base0e
        filesize: $base0d
        row_index: $base0c
        bool: $base08
        int: $base0b
        duration: $base08
        range: $base08
        float: $base08
        string: $base04
        nothing: $base08
        binary: $base08
        cellpath: $base08
        hints: dark_gray

        shape_garbage: { fg: $base07 bg: $base08 attr: b} # base16 white on red
        shape_bool: $base0d
        shape_int: { fg: $base0e attr: b}
        shape_float: { fg: $base0e attr: b}
        shape_range: { fg: $base0a attr: b}
        shape_internalcall: { fg: $base0c attr: b}
        shape_external: $base0c
        shape_externalarg: { fg: $base0b attr: b}
        shape_literal: $base0d
        shape_operator: $base0a
        shape_signature: { fg: $base0b attr: b}
        shape_string: $base0b
        shape_filepath: $base0d
        shape_globpattern: { fg: $base0d attr: b}
        shape_variable: $base0e
        shape_flag: { fg: $base0d attr: b}
        shape_custom: {attr: b}
    }
    $base16_theme
}
