# {{scheme-name}} scheme by {{scheme-author}}
colors:
  base0 : '{{base00-hex}}'
  base1 : '{{base01-hex}}'
  base2 : '{{base02-hex}}'
  base3 : '{{base03-hex}}'
  base4 : '{{base04-hex}}'
  base5 : '{{base05-hex}}'
  base6 : '{{base06-hex}}'
  base7 : '{{base07-hex}}'
  base8 : '{{base08-hex}}'
  base9 : '{{base09-hex}}'
  base10 : '{{base0A-hex}}'
  base11 : '{{base0B-hex}}'
  base12 : '{{base0C-hex}}'
  base13 : '{{base0D-hex}}'
  base14 : '{{base0E-hex}}'
  base15 : '{{base0F-hex}}'

core:
  normal_text:
    foreground: base3

  regular_file:
    foreground: base3

  reset_to_normal:
    foreground: base3

  directory:
    foreground: base7
    font-style: bold

  symlink:
    foreground: base14
    font-style: bold

  multi_hard_link: {}

  fifo:
    foreground: base13
    background: base2
    font-style: bold

  socket:
    foreground: base15
    background: base2
    font-style: bold

  door:
    foreground: base15
    background: base2
    font-style: bold

  block_device:
    foreground: base13
    background: base2
    font-style: bold

  character_device:
    foreground: base13
    background: base2
    font-style: bold

  broken_symlink:
    foreground: base6
    background: base11
    font-style: bold

  missing_symlink_target:
    foreground: base6
    background: base11
    font-style: bold

  setuid: {}

  setgid: {}

  file_with_capability: {}

  sticky_other_writable: {}

  other_writable: {}

  sticky: {}

  executable_file:
    foreground: base12
    font-style: bold

text:
  special:
    foreground: base15

  todo:
    foreground: base15
    font-style: bold

  licenses:
    foreground: base15

  configuration:
    foreground: base15

  other:
    foreground: base15

markup:
  foreground: base15

programming:
  foreground: base14

media:
  image:
    foreground: base15

  audio:
    foreground: base15

  video:
    foreground: base15

  fonts:
    foreground: base15

office:
  foreground: base15

archives:
  foreground: base9
  font-style: bold

executable:
  foreground: base12

unimportant:
  foreground: base2
